@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Roboto+Flex:opsz,wght@8..144,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tapestry&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&family=Roboto+Serif:opsz,wght@8..144,100&family=Ubuntu:wght@300&display=swap');

/* PSEUDOCLASES */
 
* { /* El asterisco aplica estilos a la hoja en generar*/
    
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


main {
 height: 100vh;

}

body{
  margin:0;
  display:flex;
  flex-direction:column;
}

#logo {
  height: 70px; 
  
  } 

nav ul{
  padding: 5px;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  display:flex;
  justify-content: space-around;
  }
 
nav ul a{
  text-decoration: none; /* le quita la línea y el color de hipervinculo */
  color:rgb(0, 0, 0);
}  

nav ul a:hover{
  background-color:#304550;
  border-radius: 10px;
  text-decoration: none;
  color:#ffffff;
}

li{
  list-style:none;
  align-items: center;
  font-size:20px;
  padding: 0.5rem 8.5rem 0.5rem 2rem;
}


 #main .carousel-inner img {
  max-height: 60vh;
  object-fit: cover;
  filter: grayscale(70%);
}

#carousel {
  position: relative;
}

#carousel .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

#carousel .overlay .container,
#carousel .overlay .row {
  height: 100%;
}



#box1 {
  display: flexbox;
  margin:100px;
  padding: 0;
  font-family: 'Roboto Flex', sans-serif;
 /* background-image: linear-gradient(to right top, #090909, #10174a, #25a6bd, #0a4a69,  #0d6c32);*/
    flex-wrap: wrap;
    align-items: center;
  justify-content: center;

    /*height:100vh;*/
}



footer {
}
/*Si llega a 320px cambia a esta propiedad */
@media screen and (max-width: 320px){
  #box1 {
    flex-direction:column; 
  
  }
    nav ul{
      flex-direction:column; 
    }
     
  

}



